[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
athenacli = {editable = true, path = "."}

[dev-packages]
mock = "*"
pytest = ">=3.5"
tox = "*"
twine = "*"
sphinx = "*"
click = "*"
